
  .bigwrap{
   background: linear-gradient(rgba(255, 235, 205,0.2),rgb(95, 63, 68),#161616);
 
    min-height: 100svh;
   

}
  .wrapper {


    background-image: url(images/flower.png);
    
    position: relative;
    width:90%;
    aspect-ratio: 16/9;
    margin: auto;
   
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   
    grid-gap: 1vmin;
    place-items: center;
    align-items: center;
    justify-content: center;
  margin-bottom: 2em;
   
 
  }
 
  
  .wrapper img{
  border: 5px double silver;
   margin: 0;
    max-width: 100%;
    aspect-ratio: 16/16;
    object-fit: cover;
  transition: 0.5s;
position: relative;
    opacity: 0.8;
  }

  .wrapper img:hover{
    transform: scale(1.1);
    z-index: 132;
    transition: 0.5s;
    opacity: 1;
   
  }

a{
  color: white;
  text-decoration: underline;
  
}
 
@media only screen and (max-width: 1250px) {

    .wrapper{
        width:90%;
        padding-bottom: 4em;
        grid-template-columns: repeat(2, 1fr);
    }

}


  
@media only screen and (max-width: 710px) {

    .wrapper{
        width: 65%;
        padding-bottom: 4em;
        grid-template-columns: 1fr;
    }
    .wrapper img:hover{
        transform: scale(1.25);
       
    }
}

.services-div {
  color: #2d3334;
  text-align: center;
  font-family: Avenir, sans-serif;
  font-size: 3em;
  font-weight: 900;
}