@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

.smooch-sans-hi {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.services-section{
  background-color: #161616;
 position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 300px 400px;
  place-items:center;
  align-items: start;
  justify-content: start;
  color: white;
place-items: center;
text-align: center;
row-gap: 7em;


}


.services-section h1{
  color :rgb(86, 29, 78);
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
  vertical-align: top;
  font-style: italic;

 
 font-family:smooch-sans-hi;


 
  

}
.services-section span{
  vertical-align: top;
  color: burlywood;
  font-size: 2em;
}


.services-section h4{
  margin-top: -20px;
  font-size: 1.5em;
  font-family: 'S&s hilborn four',sans-serif;
    color: #e9e9e9;
    
}
.services-section p{
  line-height: 1.8;
  font-family: 'Sorts Mill Goudy',sans-serif;
  width: 90%;
  text-align: center;
  margin: auto;
}








.image p{
  
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 2;
  letter-spacing: 3px;
  
  font-size: 2.3em;
  font-weight: bold;
  color: rgb(230, 198, 21);
  filter: brightness(3);
  
}
.container {
  margin-top: 15em;
}

.container .card {
  
  position: relative;
  max-width : 300px;
  height : 100px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  aspect-ratio: 1/1;
  top : -40%;
  left: 8px;
  
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
  position: relative;
  transition: padding 0.3s;
  padding: 0px;
 
  
}

.container .card .content {
  
  position : relative;
  top : -235px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  background-color: rgb(238, 232, 232,0.8);
  border-radius : 15px;
  box-shadow : 0 5px 15px rgba(0,0,0,0.3);
  
    
}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.1s;
  
}
.container .card:hover img {
  border: 2px solid pink;
  padding: 15px;
  transition: padding 0.3s;
 
 
}
a{
  text-decoration: none;
}

@media only screen and (max-width: 1090px) {

  .services-section{
   display: flex;
   flex-direction: column;
   row-gap: 9.7em;
  }
  
}