@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

.smooch-sans-hi {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


.services-section{
  
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center;
  align-items: center;
  justify-content: center;
  color: white;
place-items: center;
text-align: center;


}

.services-section h1{
  color :rgb(29, 86, 29);
  font-size: 2.5em;
  vertical-align: top;
  font-style: italic;

 
 font-family:smooch-sans-hi;

 font-weight: normal;
 
  

}
.services-section span{
  vertical-align: top;
  color: burlywood;
  font-size: 2em;
}


.services-section h4{
  margin-top: -20px;
  font-size: 1.5em;
  font-family: 'S&s hilborn four',sans-serif;
    color: #e9e9e9;
    
}
.services-section p{
  line-height: 1.8;
  font-family: 'Sorts Mill Goudy',sans-serif;
  width: 90%;
  text-align: center;
  margin: auto;
}



@media only screen and (max-width: 1090px) {
.services-section{
  display: flex;
  flex-direction: column;
}
}