@font-face {
  font-family:font;
  src: url(barlistaa.ttf);
}

@font-face {
  font-family: fonthair;
  src: url(Montserrat-Italic-VariableFont_wght.ttf);
}
.start{

  display: flex;
  
  
  
  
}
.start div:nth-child(1){
 position: fixed;
  background-color: rgb(34, 34, 34);

 
  border-left: 10px solid #f4f680;;
  left: 50%;
 right: 0;
  top:0;
  bottom: 0;
 
  
  z-index: 250;
  animation: starting2 5s ease-in-out 1;
  animation-fill-mode: forwards;  
  
}
.start div:nth-child(2){
  position: fixed;
  background-color: rgb(34, 34, 34);
  opacity: 1;
  top: 0;
  border-right: 10px solid #f4f680;
 left: 0;
 right: 50%;
  bottom: 0;
 
  z-index: 250;
  animation: starting 5s ease-in-out 1;
  animation-fill-mode: forwards;  
  
}

@keyframes starting {
 
  50%{
    right: 100%;
  }
  70%{
    opacity: 0;
  }
  100%{
   
    right: 100%;
    border: none;
  }
 
  
}
@keyframes starting2 {
  50%{
    left: 100%;
  }
  70%{
    opacity: 0;
  }
  100%{
    left:100%;
    border: none;
  }
  
}



html{
  scroll-behavior:smooth;
  
}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.backp{
position: absolute;
width: 100%;
height: inherit;
object-fit: cover;

}
.bars{
  cursor: pointer;

  display: none;
  
}
.fa-bars{
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}

@keyframes slideleft {
  from{
    transform: translateX(-1000px);
  }
  to{
    transform: translateX(0px);
  }
  
}
@keyframes slidedown {
  from{
    transform: translateY(-400px);
  }
  to{
    transform: translateY(0px);
  }
  
}
@keyframes slideright {
  from{
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0px);
  }
  
}
@keyframes slideup {
  from{
    transform: translateY(400px);
  }
  to{
    transform: translateY(0px);
  }
  
}
.topheader h1{
  
  
  font-weight: bold;
 line-height: 1;
  
  font-family: font;
  filter: brightness(10);
  
  animation: shine 1.4s ease-in-out  infinite;
  font-size: 2.2em;
  text-align: center;
  letter-spacing: 3px;
  color: #4f500f;
  

 

 
}
.slideleft{
  animation: slideleft 2.5s ease-out;
}
.slidedown{
  animation: slidedown 2.5s ease-out;
}
.slideright{
  animation: slideright 2.5s ease-out;
}
.slideup{
  animation: slideup 2.5s ease-out;
}
.slideupdelay{
  animation: slideup 3s linear;
}


.topheader{
 

  z-index: 12321213;
  height:100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  flex-direction: row;
 
}
.topheader span{
  filter: brightness(1000);
  text-shadow: none;
  color: silver;
  font-size: 0.6em;
  font-family: fonthair;
}

.mobile{
 position: absolute;
 

 top: 4.4em;
 height: 0;
 opacity: 0;
 overflow: hidden;
 right: 10%;
 left: 10%;
 gap: 1em;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: rgba(255, 255, 255, 1);
 padding-bottom: 10px;
 padding-top: 10px;
 
 
 transition: 0.5s;

}
.mobile button a{
  font-family: Arial, Helvetica, sans-serif;
  
}
.mobile button a:hover{
  text-decoration: underline;
  
  
}
.mobile.open{
  
  transition: 0.5;
  top: 5em;
  opacity: 1;
  height: 40%;
}
.fa-bars:hover{
  opacity: 1;
  transition: 0.2s;
}

body{
  
  display: flex;
  flex-direction: column;
  

  background-color: rgba(255, 235, 205,0.5);
  margin:0px;
 
  position: relative;
 font-family: Inconsolata;
 
}

.section_1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
 position: relative;
  background-blend-mode: multiply;
  

}
.section_1:before{
  content: '';
  position: absolute;
 width: 100%;
 height: 100%;
  background: linear-gradient(to bottom,  rgba(255, 235, 205,0.1) 40%,rgba(255, 235, 205,0.3) 100%);
  z-index: 12;
}




.service-btn,
.about-btn,
.contact-btn{
background-color: transparent;
border: none;
cursor: pointer;
color: white;
font-size: 22px;

position: relative;
font-weight: bold;
font-family: Inconsolata;
position: relative;
.butt-a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

}
.service-btn::after,.contact-btn::after,.service-btn::after,.about-btn::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  
  bottom: -5px;
  left: 7px;
  background-color: white;
  transition: 0.4s;
}
.service-btn:hover::after,.contact-btn:hover::after,.about-btn:hover::after{
  width: 89%;
  transition: 0.4s;
}
.contact-btn:hover::after{
  width: 95%;
  transition: 0.4s;
}






.div-buttons{

  min-width: max-content;
 
  text-align: center;
}

.slogan-div{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  letter-spacing: 3px;
  
  
 

}

ul li{
  margin-top: 2px;
}
.thl-btn{

  color:white;
  cursor: pointer;
background-color: transparent;
  
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  width: fit-content;
  transition: 0.6s;
  height: 70px;
 
  background-color:rgba(234, 170, 107, 0.6);
  font-family:sans-serif;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
border: none;
 font-weight: normal;
}
.thl-btn:hover{

  transition: 0.6s;
  transform: translateY(-5%);
  background-color:rgba(234, 170, 107, 1);
 
  
  
}

.text-div{
  
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  

}


.text-last{
 margin-top: 50px;
 
 color: #ffffff;
 font-size: 15px;
 font-weight: 0;
 font-style: italic;
 letter-spacing: 2px;
 text-align: center;
  
}
@media only screen and (max-width: 950px) {

  .topheader{
   margin-left: 1em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
 
  
  .bars{
    display:flex;
    flex-direction: column;
    align-items: end;
    
    

    margin-right: 1em;
    font-size: 1.4em;
  
   
  }
  .thl-btn{
    height: 50px;
    font-size: 20px;
  }
  .topheader h1{
    font-size: 2em;
  }
 
  .text-div{
    font-size: 15px;
  }
  .div-buttons{
    display: none;
  
 
 
  }
 
  
  
}












