
html{
  scroll-behavior:smooth;
  
}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}





.topheader h1{
  font-weight: bold;
  text-shadow: -4px -1px white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  filter: brightness(1);
  
 
  font-size: 2.5em;
  text-align: center;
  color: #f0a75f;
  border-radius: 10px;

  padding: 10px 30px;
 
}
.topheader{
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.topheader span{
  filter: brightness(1000);
  text-shadow: none;
  color: silver;
  font-size: 0.7em;
}
header div{
  margin-top: 10em;
}

body{
  
  display: flex;
  flex-direction: column;
  

  background-color: #161616;
  margin:0px;
 
  position: relative;
 font-family: Inconsolata;
 
}

.section_1{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url('images/backg.jpeg');
  background-blend-mode: multiply;
  

}
.section_1:before{
  content: '';
  position: absolute;
 width: 100%;
 height: 100%;
  background: linear-gradient(to bottom,  rgba(22,22,22,0.5) 10%,rgba(26, 30, 36,1) 100%);
}





.service-btn,
.about-btn,
.contact-btn{
background-color: transparent;
border: none;
cursor: pointer;
color: white;
font-size: 22px;

position: relative;
font-weight: bold;
font-family: Inconsolata;

.butt-a{
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

}
.service-btn::after,.contact-btn::after,.service-btn::after,.about-btn::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  
  bottom: -5px;
  left: 7px;
  background-color: white;
  transition: 0.4s;
}
.service-btn:hover::after,.contact-btn:hover::after,.about-btn:hover::after{
  width: 89%;
  transition: 0.4s;
}
.contact-btn:hover::after{
  width: 95%;
  transition: 0.4s;
}






.div-buttons{

  min-width: max-content;
 
  text-align: center;
}

.slogan-div{
margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
 

}

.thl-btn{

  border: 3px solid white;
  border-radius: 40px;
  color:white;
  cursor: pointer;
background-color: transparent;
  
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1px;
  width: 300px;
  height: 80px;
 transition:0.5s;
 font-family: Inconsolata;
 
  
}
.thl-btn:hover{
  background-color: rgb(235, 71, 71);
  transition: 0.5s;
  
  
}
.tel-href{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.text-div{
  
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  

}
.thl-btn-div{

  position: relative;
}



@media only screen and (max-width: 950px) {

  
  header{
    flex-direction: column;
  
  
  }
  .div-buttons{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
 
 
  }
  
  
  
}












